target/
allure-results/
.allure/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Node / Playwright
playwright-ts/node_modules/
playwright-ts/playwright-report/
playwright-ts/test-results/
playwright-ts/blob-report/
playwright-ts/.cache/

# Playwright traces/videos/screenshots generated during runs
playwright-ts/**/*.zip
playwright-ts/**/*.webm
playwright-ts/**/*.png